/*
 CSS Document
*, *::after, *::before {
  box-sizing:border-box;
}
*/

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    line-height: 1.5;
    text-align: left;
    background-color: white;
}

/*header + bovenkant website */
h1{
    color:#040074;
    font-size:28px;
}

.top {
    background-color: #040074;
    color:white;
    padding: 0px 0px 20px 20px;
    width: 100%;
    border-radius: 30px 0px 0px 0px;
}

.update {
    color:white;
}

/*catagorieen website*/
.kennisbank {
    background-color: #F2F2F8;
    width:100%;
    padding: 30px 20px 0px 20px;
}

.nieuws {
    background-color: #F2F2F8;
    width:100%;
    padding: 30px 20px 0px 20px;
}

.competitie {
    width:100%;
    padding: 30px 20px 0px 20px;
}

.activiteiten {
    width:100%;
    padding: 30px 20px 0px 20px;
}

.overKNKV {
    background-color: #F2F2F8;
    width:100%;
    padding: 30px 20px 0px 20px;
}

/*overige onderdelen content*/
button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: #040074;
    color:white;
    padding:10px 0px 10px 20px;
    width: 100%;
    text-align: left;
    border-radius: 0px 25px 0px 25px;
    border: none;
}

article {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    list-style: none;
    text-decoration: none;
    color:white;
    font-size: 12px;
}

/*Titels */
h2 {
    color:#040074;
    font-size:20px;
}


h3 {
    color:black;
}

h4 {

}

h5 {
    font-size: 16px;
    color:#040074;
    font-style: bold;
}


/*Lijsten*/
ul {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Foto's*/
.korfbalfoto1 {
    width:100%;
    border-radius: 0px 40px 0px 40px;
}

.korfbalfoto2 {
    width:100%;
    border-radius: 60px 0px 60px 0px;
}

/*Footer */
.footer {
    font-size:14px;
    color:#040074;
}


.sponsoren {
    padding: 60px 0px 60px 0px;
}

.logo {
    width:5em;
}

.foot1 {
    background-color: #040074;
    color:white;
    padding: 40px 0px 40px 0px;
    text-align: center;
}

.foot2 {
    background-color: #FF6900;
    color:white;
    text-align: center;
}


